#container .title {
  font-size: 30px;
}

.boxWrap .list {
  overflow: hidden;
}
.boxWrap .list li {
  float: left;
  margin-left: 20px;
  margin-right: 30px;
}

#container .box {
  background: pink;
}