/* 모든 요소의 바깥여백, 안쪽 여백 제거하기 */
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,p,form,fieldset,button,input{
    margin:0;
    padding:0;
}
/* a의 글자색 밑줄 */
a{
    color:#333;
    text-decoration:none;
}
/* li 장식제거 */
li{
    list-style: none;
}

/* 글자크기, 글씨체, 기본 글자색, 줄간격, 자간 */
body{
    font-size:13px;
    color:#333;
    line-height: 1;
    letter-spacing: 0.1em;
    font-family: 'Noto Sans KR', sans-serif;
}

/* vertical  img button input select */
img,button,input,select{
    vertical-align: middle;
}

/* label button 커서모양 */
label,button{
    cursor:pointer;
}

/* hr */
hr{
    display: none;
}

/* 기울기 address, em, i */
address,em,i{
    font-style:normal;
}

/* img, iframe,fieldset 테두리 */
img,iframe,fieldset{
    border:0;
}

/* table 이중선 */
table{
    border-collapse: collapse;
    border-spacing: 0;
}

/* .blind section 제목이 필수 사항이지만,
 화면에서는 사라지고, 사이트 목차로는 읽혀야됨 */
.blind{
    position: absolute;
    top:-9999px;
}

/* .clearFix float된 자식을 가지는 부모의 높이 찾아주기 */
.clearFix::after{
    content:"";
    display: block;
    clear: both;
}

/* .skip */
.skip a{
    display: block;
    line-height: 2;
    background:black;
    color:white;
    text-align: center;
    position: absolute;
    top:-9999px;
    width:100%;
}
.skip a:focus{
    top:0;
}
