.nav{
    width:600px;
    background: #ddd;
    
    li{
        float:left;
        color:white;
        background:green;
        &:first-child{
            color:pink;
            font-size:20px;
        }
        &:last-child{
            background:yellow;
            text-decoration:underline;
            
        }
    }    
}
