//section에 width 800 배경색
//.list padding ,overflow
//.list>li float, margin
//.list>li>a 글자색, 밑줄제거, 글자 크기
section{
    width: 800px;
    background-color: antiquewhite;

    >.list{
        padding: 20px;
        overflow: hidden;

        >li{
            float: left;
            margin: 10px;
            
            >a{
                color: hotpink;
                text-decoration: none;
            }
        }
    }
}