.notice{
    ul{
        li{
            list-style:none;

            a{
                color:pink;

                &:hover{
                    color:green;
                }
                // & 앞에 조상을 지정하면 바로위의 부모가 아니라
                //조상부터 단계적으로 내려온다.
                #container &{
                    color:skyblue;
                }

            }
        }
    }
}